


.pic {
    width: 170px;
    height: 450px;
    margin-right: 50px;
    margin-bottom: 20px;

}
.pic:hover {
        transform: translateY(40px)
}
.pic2 {
    width: 170px;
    height: 450px;
    margin-right: 50px;
    padding-top: 40px;

}

.pic2:hover {
    transform: translateY(-40px)
}
.ima {
    display: flex;
}
